.br--small-viewport {
  @media (min-width: $medium-viewport-width) {
    display: none;
  }
}

.br--greater-medium-viewport {
  display: none;

  @media (min-width: $medium-viewport-width) {
    display: inline;
  }
}
