.page {
  min-height: 100%;
  line-height: 24px;
  color: $color-dark-dark;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.page__body {
  margin: 0;
  padding: 0;
  min-width: $small-viewport-width;
  min-height: 100%;
}

.page__header {
  position: relative;
  z-index: 10;
}
