.page-header {
  background-color: $color-light-light;
  font-weight: 700;
}

.page-header__main-row {
  @media (min-width: $medium-viewport-width) {
    border-bottom: 1px solid $color-light-special-1;
    width: 100%;
  }
}

.page-header__main-row-wrapper {
  @media (min-width: $medium-viewport-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $large-viewport-width) {
    justify-content: space-between;
  }
}

.page-header__logo-container {
  @media (max-width: $small-viewport-max-width) {
    border-top: 1px solid $color-light-special-1;
    border-bottom: 1px solid $color-light-special-1;
    min-height: 78px;
  }

  @media (min-width: $medium-viewport-width) {
    flex-grow: 1;
    margin-right: 50px;
    padding-top: 22px;
    padding-bottom: 14px;
    width: 200px;
  }

  @media (min-width: $large-viewport-width) {
    flex-grow: 0;
    order: 2;
    margin-right: 0;
    padding-top: 9px;
    padding-bottom: 1px;
    width: 150px;
  }
}

.page-header__logo-wrapper {
  @media (max-width: $small-viewport-max-width) {
    position: relative;
  }
}

.page-header__logo {
  @media (max-width: $small-viewport-max-width) {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 21px 32px 16px 30px;
    text-align: center;
  }

  @media (min-width: $medium-viewport-width) and (max-width: $medium-viewport-max-width) {
    position: relative;
    left: -2px;
  }
}

.page-header__logo-img {
  width: 86px;
  height: 35px;

  @media (min-width: $medium-viewport-width) {
    width: 114px;
    height: 46px;
  }

  @media (min-width: $large-viewport-width) {
    width: 149px;
    height: 72px;
  }
}

.page-header__toggle {
  position: absolute;
  top: 28px;
  right: 0;
}

.page-header__secondary-row {
  @media (min-width: $medium-viewport-width) {
    background-color: $color-light-special-3;
    padding-top: 19px;
    padding-bottom: 20px;
  }
}

.page-header__secondary-row-wrapper {
  @media (min-width: $medium-viewport-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.page-header__info {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;

  @media (min-width: $medium-viewport-width) {
    display: block;
    width: 260px;
    text-align: end;
  }

  @media (min-width: $large-viewport-width) {
    width: 350px;
  }
}
