$small-viewport-width: 320px;
$medium-viewport-width: 768px;
$large-viewport-width: 1150px;
$extra-large-viewport-width: 2560px;

$small-viewport-max-width: $medium-viewport-width - 1px;
$medium-viewport-max-width: $large-viewport-width - 1px;
