$color-dark: #444444;
$color-dark-dark: #000000;
$color-dark-special-1: rgba(0, 0, 0, 0.25);

$color-light: #f1f1f1;
$color-light-light: #ffffff;
$color-light-special-1: #ececec;
$color-light-special-2: #e6e6e6;
$color-light-special-3: #f9f9f9;

$color-primary: #63d1bb;
$color-primary-dark: #56C3B2;

